*{
    margin: 0;
}
.first-btn{
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;            
    justify-content: center;  
    align-items: center;      
}
.first-btn:hover{
    background-color: rgb(86, 84, 84);
}

.btn1{
  
    color:white;
    border: none;
}

.header{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;

}
.mainlogo{
    margin-left:40px;


}
.logo{
    width: 200px;
    height: 40px;

}
.homebar{
    margin-left: 50px;
    margin-top: 20px;
}
.homebar a{
    color:white;
    padding-left:20px;
    text-decoration: none;

}
.icons i{
    color: white;
    padding-left:10px;


}
.icons{
    margin-left:720px;
    margin-top: 20px;

}
.picture{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    margin-right:50px;
    margin-top: 30px;
    margin-left:120px;
    gap:5px;
    width:350px;
      padding: 20px 40px;
  
}
.picture img{
    width: 373px;
    height: 370px;
    padding-left:10px;
    padding-right:19px;

}
.poem{
    margin-top:100px;
    margin-left:60px;
    display: flex;
    margin-left:150px;
}
.poem img{
    width:300px;
    height:400px;
    margin:30px;
    
}
.poem2{
    
    font-size:25px;
    margin-top:71px;
    margin-left:5px;
    padding:5%;

}
.poem3{
    margin-left:15px;

}
.about{
    background-color:black;
    color:white;
    padding:10px;
    margin-left: 15px;
    margin-top:15px;
    width: 90px;
    height:60px;
}
.aboutv :hover{
    background-color: gray;
}
.final{
    background-color:black;
    width: 100%;
    height:300px;
    color:white;
    justify-content:center;
    text-align:center;

}
hr{
    background-color: rgb(31, 24, 24);
    border:none;
    height:1px;
}